.content {
  padding: 10px;
}

#user-profile {
  margin-left: 75px;
}

html, body{
  height: 100%;
  background-color: #F0FFFF;
}

.page-wrap{
  min-height: 100%;
  margin-bottom: -75px;
}

.page-wrap:after{
  content: "";
  display: block;
}

.form-page, .page-wrap:after{
  height: 80px;
}

.form-page {
  margin-top: 20px !important;
  width: 100%;
}

.landing-page {
  height: 72% !important;
  position: relative;
}

.ui.four.statistics {
  position : absolute;
  top: 300px;
  left: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.6;
}

.statistic {
  padding-top: 15px;
}

.ui.huge.green.button.scroll-force {
  position: absolute;
  top: 650px;
  opacity: 0.8;
}

.taskHeader{
  text-align: center;
}

.ui.icon.header {
  font-family: 'Inconsolata';
  font-weight: normal;
  padding: 5px;
}

.ui.stackable.container.menu {
  font-family: 'Inconsolata';
  font-weight: normal;
  padding: 5px;
}

.ui.header{
  font-family: 'Inconsolata';
  font-weight: normal;
  padding: 5px;
}

#chart{
  height: 600px;
  width: 700px;
}
