<!--Dashboard page. This is where the main content is found-->
<template name="dashboardLayout">
  <div class="content">
    <div class="ui stackable very relaxed grid container">
      <div class="three column computer one column mobile demo row">

        <div class="four wide column">
          <div class="container">
            Hi
          </div>
        </div>
        <div class="eight wide column">
          <div class="container">
            Hey
          </div>
        </div>
        <div class="four wide column">
          <div class="container">
            Yo
         </div>

        </div>
      </div>
    </div>
  </div>
</template>