<head>
  <title>Better Odds Of Football</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
</body>

<!--Layout that displays on every page-->
<template name="applicationLayout">
  {{> header}}
  <div class="page-wrap">
    {{> yield}}
  </div>
  {{> footer}}
</template>

<template name="header">
  <h2 class="ui icon header">
    <i class="signal icon"></i>
    <div class="content">
      Better Odds Of Football
      <div class="sub header">
        Analyze and Win
      </div>
    </div>
  </h2>
</template>


<!--footer that is attached at the bottom of every page-->
<template name="footer">
  <div class="ui vertical footer segment form-page">
    <div class="ui">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="center aligned column">
          <a class="ui inverted green icon button" href="https://github.com/brockinit">
          <i class="github alternate icon"></i>
          <div class="header">GitHub</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>